.comments-list{
	margin-top: 60px;
}
.user{
margin-top: 10px;
}

.others{
margin-top: 10px;
}
.item{
margin-right: 10px;
}

/* Voting + Answer + view blocks */

/* Votes */
.qa-q-item-stats {
	float: left;
}

.qa-voting {
	background: #e7f7ff;
	border: 1px solid #c5d6df;
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 5px;
	padding: 0;
	border-radius: 3px;
}

.qa-vote-buttons {
	position: relative;
	height: 60px;
	width: 16px;
	float: left;
}

.qa-vote-up-button, .qa-vote-down-button, .qa-vote-one-button {
	text-indent: 9999px;
}

.qa-q-list-vote-disabled .qa-vote-buttons {
	display: none;
}

.qa-vote-up-button, .qa-vote-up-disabled {
	background: url(images/vote-buttons.png) no-repeat;
	border: 0;
	color: #f1c96b;
	font-size: 1px;
	height: 20px;
	width: 16px;
}

.qa-vote-up-button {
	background-position: 0 0;
	color: #f1c96b;
}

.qa-vote-up-disabled {
	background-position: 0 -80px;
	color: #CCC;
}

.qa-vote-up-button:hover {
	background-position: 0 -20px;
	color: #f1c96b;
}

.qa-vote-down-button, .qa-vote-down-disabled {
	background: url(images/vote-buttons.png) no-repeat;
	border: 0;
	color: #f1c96b;
	font-size: 1px;
	height: 20px;
	width: 16px;
}

.qa-vote-down-button {
	background-position: -16px 0;
	color: #f1c96b;
}

.qa-vote-down-disabled {
	background-position: -16px -80px;
	color: #CCC;
}

.qa-vote-down-button:hover {
	background-position: -16px -20px;
	color: #f1c96b;
}

.qa-voted-up-button {
	background: url(images/vote-buttons.png);
	border: 0;
	color: #f1c96b;
	font-size: 1px;
	height: 20px;
	width: 16px;
}

.qa-voted-up-button {
	background-position: 0 -40px;
	color: #f1c96b;
}

.qa-voted-up-button:hover {
	background-position: 0 -60px;
	color: #f1c96b;
}

.qa-voted-down-button {
	background: url(images/vote-buttons.png);
	border: 0;
	color: #f1c96b;
	font-size: 1px;
	height: 20px;
	width: 16px;
}

.qa-voted-down-button {
	background-position: -16px -40px;
	color: #f1c96b;
}

.qa-voted-down-button:hover {
	background-position: -16px -60px;
	color: #f1c96b;
}

.qa-vote-one-button {
	position: absolute;
	left: 2px;
	top: 20px;
}

.qa-vote-first-button {
	position: absolute;
	left: 2px;
	top: 6px;
}

.qa-vote-second-button {
	position: absolute;
	left: 2px;
	bottom: 6px;
}

.qa-netvote-count {
	text-align: center;
	display: block;
}

.qa-netvote-count-data {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	display: block;
	margin-top: 10px;
	overflow: hidden;
}

.qa-netvote-count-pad {
	font-size: 11px;
}

/* separate vote buttons counter */
.qa-upvote-count,
.qa-downvote-count {
	text-align: center;
	display: block;
}

.qa-upvote-count-data,
.qa-downvote-count-data {
	display: block;
	margin-top: 2px;
	font-size: 18px;
	font-weight: 700;
}

.qa-upvote-count-pad,
.qa-downvote-count-pad {
	display: none;
}




